  <header>
        <% include partials/header/head.ejs %>
    </header>
<body>
  <div>
  <div>
  <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
         <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/about">About<span class="sr-only">(current)</span></a></li>
        <li><a href="/service">Service</a></li>
         <li><a href="/project">Project</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
</nav>
</div>
  <br/>
  <div class="jumbotron">
  <p>
    I am a programmer.
  </p>
      <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Intelligent Stock picker</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="https://github.com/johnhullv5/stock" role="button">View github</a></p>
        </div>
        <div class="col-md-4">
          <h2>CloudTrader</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>web game plane</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">begin to play</a></p>
        </div>
      </div>
</div>
  </div>
   <footer>
        <% include partials/footer/foot.ejs %>
    </footer>
</body>
</html>