  <header>
        <% include partials/header/head.ejs %>
    </header>
<body>
  <div>
  <div>
  <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
         <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/about">About<span class="sr-only">(current)</span></a></li>
        <li><a href="/service">Service</a></li>
         <li><a href="/project">Project</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
</nav>
</div>
  <br/>
  <div class="jumbotron">
  <p>
    As a quantitative developer with rich real-life exprience, I can provide you customized trading system design and implementations<br>
    with different financial markets.
  </p>
</div>
  </div>
   <footer>
        <% include partials/footer/foot.ejs %>
    </footer>
</body>
</html>